<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password - ConnectSphere</title>
    <link rel="stylesheet" href="../css/style.css">

    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
</head>
<body>
<div class="login-container">
    <div class="card login-card">
        <img src="../logo.svg" alt="ConnectSphere Logo" class="logo">
        <h1>Reset Your Password</h1>
        <p>Please enter your email address to receive a verification code.</p>
        <form id="verifyUserForm">
            <div id="errorMessage" class="error"></div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-primary">Send Code</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../javascript/apiservice.js"></script>
<script src="../javascript/utils.js"></script>
<script src="../javascript/verify_user.js"></script>
</body>
</html>